/*
rockband gif:1; GIVEN INLINE
#videoNet : 2;  GIVEN INLINE
concert pngs and spotlights : 3;  GIVEN INLINE
beach elements layer-2 and layer-3: 2;
main_character:20;
layer1 : 40;
darkCover:50;
header z-index : 100;
progressBar : 100;
lightbox z-index : 200;
*/

/*
z-indexes:

header: 100;
lightbox: 200;
.black-back: 1000;
.litebox-mainContent-wrapper:1001;
.litebox-mainContent:1010;
.litebox-contentBox-top:1009;
.litebox-contentBox-bottom:1009;
.litebox-contentBox-left1:1009;
.litebox-contentBox-right1:1009;
.litebox-contentBox-left2:1008;
.litebox-contentBox-left3:1007;
.litebox-contentBox-right2:1008;
.litebox-contentBox-right3:1007;
.event-litebox:1000;
.event-list:1100;
*/


@font-face {
    font-family: Fredoka One;
    src: url(FredokaOne-Regular.ttf);
}

body
{	margin:0;
	overflow: hidden;
}

.abstractImg {
  z-index: 500;
  opacity: 0;
  cursor: pointer;
}

.theatrePoster {
  background-color: red;
  width: 20px;
  height: 20px;
}

#social_updates
{ position:fixed;
  right:0px;
  bottom: 40px;
  overflow:hidden;
  display:block;
  width:300px;
}

.social_update
{ height:20px;
  position:relative;
  z-index:110;
  margin: 8px;
  margin-top: 0px;
  overflow:hidden;
  float: left;
}

#like_button
{ width:140px;
  margin:0 auto;
}


#main_container
{	width:100%;
	height:100%;
	position: fixed;
}

#main_character
{	width:200px;
	height:200px;
	position:absolute;
	z-index:20;
	background-image:url('./../images/main_character.png');
}

#layer1
{	z-index:40;
}

/* PROGRESS BAR -------------------------------------------------------------------------------------------------------*/

.timeline {
  //width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 70px;
  z-index: 100;
  box-shadow: 0px -2px 30px 1px black;
}

#updatesSlider
{	position:fixed;
	background-color: rgba(0,0,0,0.6);
	top:90px;
	left:-90px;
	z-index: 500;
	cursor: pointer;
	color:rgb(255,255,255);
	width:140px;
	padding:10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition:left 0.4s;
	-webkit-transition:left 0.4s;
}
#updatesSlider:hover
{	left:0px;
}
#updatesSlider img{
	width:20%;
}
/* --------------------------------------------GROUND -----------------------------------------------------------------*/

#groundWrapper {
    position: absolute;
    bottom: 0px;
    width: auto;
}

.ground {
    height: 110px;
    float: left;
    bottom: 0px;
    position: absolute;
    background-position: left bottom;
}

.layer
{	height:100%;
	position:absolute;	
}

.layer img
{	position:absolute;
}

#underwaterBG { 
    position:absolute;
    height:calc(100% + 600px);
    width:10000px;
    background-color:rgb(1,119,193); 
}

#videoNet
{	height:310px;
	width:600px;
	background-image:url('../images/videoNet.png');
	position:absolute;
	z-index:-50;
}

#videoPlay
{	position:absolute;
	z-index:-60;
}

#swing1, #swing2 {
    bottom: 120px;
}

#darkCover
{	width:100%;
	height:100%;
	position:absolute;
	z-index:50;
	background-color:black;
}


/* --Music Notes----------------------------------------------------------------------- */
	#musicNotes
	{	position:absolute;
		left:200px;
	}
	.note
	{	height:50px;
		width:40px;
		background-repeat:no-repeat;
		position:absolute;
	}
	#note1
	{	background-image:url('../images/musicNotes.png');
		background-position:-10px 0px;
		animation:note1 9.6s linear 0s infinite;
		-webkit-animation:note1 9.6s linear 0s infinite;
	}
	#note2
	{	background-image:url('../images/musicNotes.png');
		background-position:-40px -40px;
		animation:note2 9.6s linear 3.2s infinite;
		-webkit-animation:note2 9.6s linear 3.2s infinite;
	}
	#note3
	{	background-image:url('../images/musicNotes.png');
		background-position:0px -60px;
		animation:note1 9.6s linear 6.4s infinite;
		-webkit-animation:note1 9.6s linear 6.4s infinite;
	}
	
	@keyframes note1{
		0% 		{ opacity:1}
		20%		{-ms-transform: translate(-30px,-20px);-webkit-transform: translate(-30px,-20px);transform: translate(-30px,-20px);}
		40%		{-ms-transform: translate(30px,-40px);-webkit-transform: translate(30px,-40px);transform: translate(30px,-40px);}
		60%		{-ms-transform: translate(-30px,-60px);-webkit-transform: translate(-30px,-60px);transform: translate(-30px,-60px);}
		80%		{opacity:1;-ms-transform: translate(30px,-80px);-webkit-transform: translate(30px,-80px);transform: translate(30px,-80px);}
		100%	{opacity:0;-ms-transform: translate(-30px,-100px);-webkit-transform: translate(-30px,-100px);transform: translate(-30px,-100px);}
	}
	@-webkit-keyframes note1{
		0% 		{ opacity:1}
		20%		{-ms-transform: translate(-30px,-20px);-webkit-transform: translate(-30px,-20px);transform: translate(-30px,-20px);}
		40%		{-ms-transform: translate(30px,-40px);-webkit-transform: translate(30px,-40px);transform: translate(30px,-40px);}
		60%		{-ms-transform: translate(-30px,-60px);-webkit-transform: translate(-30px,-60px);transform: translate(-30px,-60px);}
		80%		{opacity:1;-ms-transform: translate(30px,-80px);-webkit-transform: translate(30px,-80px);transform: translate(30px,-80px);}
		100%	{opacity:0;-ms-transform: translate(-30px,-100px);-webkit-transform: translate(-30px,-100px);transform: translate(-30px,-100px);}	
	}
	@keyframes note2{
		0% 		{ opacity:1}
		20%		{-ms-transform: translate(30px,-20px);-webkit-transform: translate(30px,-20px);transform: translate(30px,-20px);}
		40%		{-ms-transform: translate(-30px,-40px);-webkit-transform: translate(-30px,-40px);transform: translate(-30px,-40px);}
		60%		{-ms-transform: translate(30px,-60px);-webkit-transform: translate(30px,-60px);transform: translate(30px,-60px);}
		80%		{opacity:1;-ms-transform: translate(-30px,-80px);-webkit-transform: translate(-30px,-80px);transform: translate(-30px,-80px);}
		100%	{opacity:0;-ms-transform: translate(30px,-100px);-webkit-transform: translate(30px,-100px);transform: translate(30px,-100px);}	
	}
	@-webkit-keyframes note2{
		0% 		{ opacity:1}
		20%		{-ms-transform: translate(30px,-20px);-webkit-transform: translate(30px,-20px);transform: translate(30px,-20px);}
		40%		{-ms-transform: translate(-30px,-40px);-webkit-transform: translate(-30px,-40px);transform: translate(-30px,-40px);}
		60%		{-ms-transform: translate(30px,-60px);-webkit-transform: translate(30px,-60px);transform: translate(30px,-60px);}
		80%		{opacity:1;-ms-transform: translate(-30px,-80px);-webkit-transform: translate(-30px,-80px);transform: translate(-30px,-80px);}
		100%	{opacity:0;-ms-transform: translate(30px,-100px);-webkit-transform: translate(30px,-100px);transform: translate(30px,-100px);}	
	}
/* --------------------------------------------SMOKE ---------------------------------------------------------------*/
.shipImg {
    margin-bottom: -120px;
}

/* Smoke container */
#smoke {
  position: relative;
  width: 1px;
  height: 160px;
  left: 195px;
  bottom: 220px;
}

/* smoke balls */
#smoke span {
  display: block;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -20px;
  height: 0px;
  width: 0px;
  border: 35px solid #ffffff;
  border-radius: 35px;
  left: -14px;
  opacity: 0;
  transform: scale(0.5);
}

/* Smoke animation */
@-webkit-keyframes smokeL {
  0%   {-webkit-transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;-webkit-transform: scale(0.5) translate(0, -5px); }
  40%  {opacity:1;}
  100% {opacity: 0;-webkit-transform: scale(1.5) translate(-20px, -130px);}
}
@-moz-keyframes smokeL {
  0%   {-moz-transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;-moz-transform: scale(0.5) translate(0, -5px); }
  40%  {opacity:1;}
  100% {opacity: 0;-moz-transform: scale(1.5) translate(-20px, -130px);}
}
@keyframes smokeL {
  0%   {transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;transform: scale(0.5) translate(0, -5px); }
  40%  {opacity:1;}
  100% {opacity: 0;transform: scale(1.5) translate(-20px, -130px);}
}

@-webkit-keyframes smokeR {
  0%   {-webkit-transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;-webkit-transform: scale(0.5) translate(0, -5px);}
  40%  {opacity:1;}
  100% {opacity: 0;-webkit-transform: scale(1.5) translate(20px, -130px);}
}
@-moz-keyframes smokeR {
  0%   {-moz-transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;-moz-transform: scale(0.5) translate(0, -5px);}
  40%  {opacity:1;}
  100% {opacity: 0;-moz-transform: scale(1.5) translate(20px, -130px);}
}
@keyframes smokeR {
  0%   {transform: scale(0.5) translate(0, 0);}
  10%  {opacity: 1;transform: scale(0.5) translate(0, -5px);}
  40%  {opacity:1;}
  100% {opacity: 0;transform: scale(1.5) translate(20px, -130px);}
}

#smoke .s0 {
  -webkit-animation: smokeL 10s 0s infinite;
  -moz-animation: smokeL 10s 0s infinite;
  -o-animation: smokeL 10s 0s infinite;
  animation: smokeL 10s 0s infinite;
}

#smoke .s1 {
  -webkit-animation: smokeR 10s 1s infinite;
  -moz-animation: smokeR 10s 1s infinite;
  -o-animation: smokeR 10s 1s infinite;
  animation: smokeR 10s 1s infinite;
}

#smoke .s2 {
  -webkit-animation: smokeL 10s 2s infinite;
  -moz-animation: smokeL 10s 2s infinite;
  -o-animation: smokeL 10s 2s infinite;
  animation: smokeL 10s 2s infinite;
}

#smoke .s3 {
  -webkit-animation: smokeR 10s 3s infinite;
  -moz-animation: smokeR 10s 3s infinite;
  -o-animation: smokeR 10s 3s infinite;
  animation: smokeR 10s 3s infinite;
}

#smoke .s4 {
  -webkit-animation: smokeL 10s 4s infinite;
  -moz-animation: smokeL 10s 4s infinite;
  -o-animation: smokeL 10s 4s infinite;
  animation: smokeL 10s 4s infinite;
}

#smoke .s5 {
  -webkit-animation: smokeR 10s 5s infinite;
  -moz-animation: smokeR 10s 5s infinite;
  -o-animation: smokeR 10s 5s infinite;
  animation: smokeR 10s 5s infinite;
}

#smoke .s6 {
  -webkit-animation: smokeL 10s 6s infinite;
  -moz-animation: smokeL 10s 6s infinite;
  -o-animation: smokeL 10s 6s infinite;
  animation: smokeL 10s 6s infinite;
}

#smoke .s7 {
  -webkit-animation: smokeR 10s 7s infinite;
  -moz-animation: smokeR 10s 7s infinite;
  -o-animation: smokeR 10s 7s infinite;
  animation: smokeR 10s 7s infinite;
}

#smoke .s8 {
  -webkit-animation: smokeL 10s 8s infinite;
  -moz-animation: smokeL 10s 8s infinite;
  -o-animation: smokeL 10s 8s infinite;
  animation: smokeL 10s 8s infinite;
}

#smoke .s9 {
  -webkit-animation: smokeR 10s 9s infinite;
  -moz-animation: smokeR 10s 9s infinite;
  -o-animation: smokeR 10s 9s infinite;
  animation: smokeR 10s 9s infinite;
}

/* --------------------------------HEADER CONTENT BEGINS ------------------------------------------------------------*/

.register {
  padding: 20px;
  position: fixed;
  right: 15px;
  top: 80px;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: rgba(40,40,40,0.3);
  z-index: 100;
}

.headerContent 
{
  position: relative;
  cursor: pointer;
  float: left;
  width: calc(100% / 7);
  padding: 10px 0px;
  text-align: center;
  color: #FFF;
  height: 50px;
  line-height: 50px;
  font-family: 'Fredoka One', cursive;
   transition:0.5s;
}

.headerIcons {
    height: 25px;
    margin-bottom: -6px;
    margin-right: 10px;
}

.headerLogo
{
  height: 50px;
}

.headerContent:hover
{
    background-color: rgba(20,20,20,0.3);
}





/* -------------------------------ANIMATIONS------------------------------- */

@keyframes rotate360 {
    0%   { transform: rotate(0deg);-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);}
	5%   { transform: rotate(0deg);-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);}
    100% { transform: rotate(360deg);-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);}
}

@-webkit-keyframes rotate360 {
    0%   { transform: rotate(0deg);-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);}
	5%   { transform: rotate(0deg);-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);}
    100% { transform: rotate(360deg);-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);}
}

@keyframes submarineMove {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(-4000px, 0px);-webkit-transform: translate(-4000px,0px);-moz-transform: translate(-4000px,0px);-ms-transform: translate(-4000px,0px);}  
}
@-webkit-keyframes submarineMove {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(-4000px, 0px);-webkit-transform: translate(-4000px,0px);-moz-transform: translate(-4000px,0px);-ms-transform: translate(-4000px,0px);}  
}

@keyframes waveMove2 {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(5000px, 0px);-webkit-transform: translate(5000px,0px);-moz-transform: translate(5000px,0px);-ms-transform: translate(5000px,0px);}
}
@-webkit-keyframes waveMove2 {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(5000px, 0px);-webkit-transform: translate(5000px,0px);-moz-transform: translate(5000px,0px);-ms-transform: translate(5000px,0px);}
}
@keyframes waveMove1 {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(1500px, 0px);-webkit-transform: translate(1500px,0px);-moz-transform: translate(1500px,0px);-ms-transform: translate(1500px,0px);}
}
@-webkit-keyframes waveMove1 {
    0%   { transform: tarnslate(0px, 0px);-webkit-transform: translate(0px,0px);-moz-transform: translate(0px,0px);-ms-transform: translate(0px,0px);}
    100% { transform: tarnslate(1500px, 0px);-webkit-transform: translate(1500px,0px);-moz-transform: translate(1500px,0px);-ms-transform: translate(1500px,0px);}
}

@keyframes concertFocusLight1Animation {
    0%   { transform: rotate(-30deg);-webkit-transform: rotate(-30deg);-ms-transform: rotate(-30deg);}
    50%   { transform: rotate(+15deg);-webkit-transform: rotate(+15deg);-ms-transform: rotate(+15deg);}
    100% { transform: rotate(-30deg);-webkit-transform: rotate(-30deg);-ms-transform: rotate(-30deg);}
}
@-webkit-keyframes concertFocusLight1Animation {
    0%   { transform: rotate(-30deg);-webkit-transform: rotate(-30deg);-ms-transform: rotate(-30deg);}
    50%   { transform: rotate(+15deg);-webkit-transform: rotate(+15deg);-ms-transform: rotate(+15deg);}
    100% { transform: rotate(-30deg);-webkit-transform: rotate(-30deg);-ms-transform: rotate(-30deg);}
}
@keyframes concertFocusLight5Animation {
    0%   { transform: rotate(+30deg);-webkit-transform: rotate(+30deg);-ms-transform: rotate(+30deg);}
    50%   { transform: rotate(-15deg);-webkit-transform: rotate(-15deg);-ms-transform: rotate(-15deg);}
    100% { transform: rotate(+30deg);-webkit-transform: rotate(+30deg);-ms-transform: rotate(+30deg);}
}
@-webkit-keyframes concertFocusLight5Animation {
    0%   { transform: rotate(+30deg);-webkit-transform: rotate(+30deg);-ms-transform: rotate(+30deg);}
    50%   { transform: rotate(-15deg);-webkit-transform: rotate(-15deg);-ms-transform: rotate(-15deg);}
    100% { transform: rotate(+30deg);-webkit-transform: rotate(+30deg);-ms-transform: rotate(+30deg);}
}

@keyframes concertFocusLight2Animation {
    0%   { transform: rotate(-10deg);-webkit-transform: rotate(-10deg);-ms-transform: rotate(-10deg);}
    50%   { transform: rotate(-30deg);-webkit-transform: rotate(-30deg);-ms-transform: rotate(-30deg);}
    100% { transform: rotate(-10deg);-webkit-transform: rotate(-10deg);-ms-transform: rotate(-10deg);}
}
@-webkit-keyframes concertFocusLight2Animation {
    0%   { transform: rotate(-10deg);-webkit-transform: rotate(-10deg);-ms-transform: rotate(-10deg);}
    50%   { transform: rotate(-30deg);-webkit-transform: rotate(-30deg);-ms-transform: rotate(-30deg);}
    100% { transform: rotate(-10deg);-webkit-transform: rotate(-10deg);-ms-transform: rotate(-10deg);}
}
@keyframes concertFocusLight3Animation {
    0%   { transform: rotate(-10deg);-webkit-transform: rotate(-10deg);-ms-transform: rotate(-10deg);}
    50%   { transform: rotate(10deg);-webkit-transform: rotate(10deg);-ms-transform: rotate(10deg);}
    100% { transform: rotate(-10deg);-webkit-transform: rotate(-10deg);-ms-transform: rotate(-10deg);}
}
@-webkit-keyframes concertFocusLight3Animation {
    0%   { transform: rotate(-10deg);-webkit-transform: rotate(-10deg);-ms-transform: rotate(-10deg);}
    50%   { transform: rotate(10deg);-webkit-transform: rotate(10deg);-ms-transform: rotate(10deg);}
    100% { transform: rotate(-10deg);-webkit-transform: rotate(-10deg);-ms-transform: rotate(-10deg);}
}

@keyframes concertFocusLight4Animation {
    0%   { transform: rotate(+10deg);-webkit-transform: rotate(+10deg);-ms-transform: rotate(+10deg);}
    50%   { transform: rotate(+30deg);-webkit-transform: rotate(+30deg);-ms-transform: rotate(+30deg);}
    100%   { transform: rotate(+10deg);-webkit-transform: rotate(+10deg);-ms-transform: rotate(+10deg);}
}
@-webkit-keyframes concertFocusLight4Animation {
    0%   { transform: rotate(+10deg);-webkit-transform: rotate(+10deg);-ms-transform: rotate(+10deg);}
    50%   { transform: rotate(+30deg);-webkit-transform: rotate(+30deg);-ms-transform: rotate(+30deg);}
    100%   { transform: rotate(+10deg);-webkit-transform: rotate(+10deg);-ms-transform: rotate(+10deg);}
}
@keyframes socialMedia {
    0%   { bottom:300px;transform:translateX(0px);-webkit-transform:translateX(0px);-ms-transform:translateX(0px);}
    25%   { transform:translateX(50px);-webkit-transform:translateX(50px);-ms-transform:translateX(50px);}
    50%   { bottom:350px;transform:translateX(0px);-webkit-transform:translateX(0px);-ms-transform:translateX(0px);}
    75%   { transform:translateX(-50px);-webkit-transform:translateX(-50px);-ms-transform:translateX(-50px);}
    100%   { bottom:300px;transform:translateX(0px);-webkit-transform:translateX(0px);-ms-transform:translateX(0px);}
}
@-webkit-keyframes socialMedia {
    0%   { bottom:300px;transform:translateX(0px);-webkit-transform:translateX(0px);-ms-transform:translateX(0px);}
    25%   { transform:translateX(50px);-webkit-transform:translateX(50px);-ms-transform:translateX(50px);}
    50%   { bottom:350px;transform:translateX(0px);-webkit-transform:translateX(0px);-ms-transform:translateX(0px);}
    75%   { transform:translateX(-50px);-webkit-transform:translateX(-50px);-ms-transform:translateX(-50px);}
    100%   { bottom:300px;transform:translateX(0px);-webkit-transform:translateX(0px);-ms-transform:translateX(0px);}
}